/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');


$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
$presentation-heading-color: #689295; 
$presentation-title-slide-text-align: "left";
$presentation-title-slide-text-color: #464a53;
$link-color: #AF929D;
$code-color: #689295;
$code-block-font-size: 0.7em;
$presentation-h2-font-size: 1.4em !default;
$presentation-font-size-root: 36px !default;
$theme-rose: #AF929D;
$theme-blue: #689295;

/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}

#title-slide .subtitle {
  color: #464a53;
  font-weight: bold;
  text-align: center;
}

#title-slide .title {
  text-align: center;
  color: #464a53;
}

#title-slide .quarto-title-author {
  text-align: center;
  color: #464a53;
}

#title-slide .institute {
  text-align: center;
  color: #464a53;
}

.small {
  font-size: 0.75em;
}

.smallest {
  font-size: 0.5em;
}

.large {
  font-size: 1.5em;
}

.reveal .hand {
  font-family: 'Gochi Hand', cursive;
  font-size: 1.2em
}

.rose {
  color: $theme-rose;
}

.blue {
  color: $theme-blue;
}

.reveal .slide .task {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 5px #464a53;
  background-color: #eff3f4;
}

.reveal .slide .quote {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 5px #AF929D;
  background-color: #efeaec;
}
